@media screen and (max-width: 719px) {
  .background {
    position: relative;
    height: 100%;
    padding-bottom: 0;
    // background: top 120px right -140px / auto calc(39vw + 100px) url(/images/illustration-devices.svg)
    //   no-repeat; //245px
    &:has(.humModalOpen) {
      height: 100vh;
      overflow: hidden;
    }
    &:before {
      width: 49.33vw; //185px;
      height: calc(60vw + 200px); // 425px;
    }
    .svgMain {
      position: absolute;
      right: -140px;
      top: 120px;
      height: calc(39vw + 100px);
      .svgMob {
        filter: drop-shadow(0 40px 20px hsl(231, 7%, 65%, 20%));
      }
    }
    // &::after {
    //   position: absolute;
    //   content: "";
    //   top: 127px; //292px;
    //   right: calc(62.5vw + 25px);
    //   width: calc(16vw + 20px);
    //   height: calc(29vw + 70px);
    //   z-index: -50;
    //   background-color: hsl(203, 50%, 41%);
    //   box-shadow: 0 30px 50px hsla(235, 16%, 59%);
    // }
    .navbar {
      padding: 37px 8.53vw; //32px
      margin-bottom: calc(45.33vw + 150px); // 320px;
      img {
        height: 24px;
        width: 24px;
      }
      .links {
        display: none;
      }
      .humburgerButton {
        display: block;
        width: 25px;
        height: 25px;
        cursor: pointer;
        .line {
          width: 100%;
          height: 2px;
          background-color: #000;
          margin: 5px 0px;
          border-radius: 24px;
          transition: 0.3s ease;
        }
      }
      .opened {
        .line1 {
          -webkit-transform: rotate(-45deg) translate(-5px, 5px);
          transform: rotate(-45deg) translate(-5px, 5px);
        }
        .line2 {
          opacity: 0;
        }
        .line3 {
          -webkit-transform: rotate(45deg) translate(-5px, -5px);
          transform: rotate(45deg) translate(-5px, -5px);
        }
      }
    }
    .humBackgr {
      display: none;
      justify-content: center;
      position: absolute;
      top: 100px;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 0 30px;

      .humburgerMenu {
        top: 100px;
        height: 230px;
        width: 100%;
        max-width: 415px;
        filter: drop-shadow(0px 10px 10px hsl(231, 7%, 65%, 30%));
        background-color: white;
        a {
          display: block;
          text-align: center;
          margin: 22px 0;
          text-transform: uppercase;
          font-size: 19px;
          font-weight: 700;
          letter-spacing: 0.05em;
          color: hsl(230, 29%, 20%);
        }
        hr {
          border: 0;
          height: 1px;
          width: 82%;
          //   margin-left: 0; /* move to the left */
          background: hsl(231, 7%, 85%);
        }
        a:nth-child(5) {
          color: hsl(231, 7%, 65%);
        }
      }
    }
    .humModalOpen {
      display: flex;
    }

    .hero {
      width: 100%;
      padding: 32px 8.53vw 100px; //32px
      .overTitle {
        p {
          font-size: 16px;
        }
      }
      h1 {
        margin-bottom: 15px;
        font-size: 40px;
      }
      .heroText {
        margin-bottom: 25px;
      }
      .buttonBox {
        button {
          height: 38px;
          width: 155px;
          font-size: 16px;
        }
        p {
          font-size: 14px;
          letter-spacing: 0.15em;
        }
      }
    }
  }
}
