.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 65px 162px;
  img {
    width: 32px;
    height: 32px;
  }
  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    a {
      position: relative;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: hsl(230, 29%, 20%);
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        margin-top: -2px;
        background: hsl(230, 29%, 20%);
        transition: transform 0.2s ease-in-out;
        transform: scale(0);
      }
      &:hover:after {
        transform: scale(1);
      }
    }
    .grayDot {
      width: 6px;
      height: 6px;
      margin-top: 3px;
      border-radius: 50%;
      background-color: hsl(231, 7%, 85%); //custom
    }
    a:nth-child(5) {
      color: hsl(230, 11%, 40%);
      &:after {
        background: hsl(230, 11%, 50%); //custom
      }
    }
  }
  .humburgerButton {
    display: none;
  }
}
.humBackgr {
  display: none;
}
